.JoinMeCard{
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
}
.JoinMeCard div{
  /* border: 1px solid red; */
  height: 300px;
  width: 300px;
}
.full-join-us-container{
    background-color: #F7F7F7;  
    padding-top: 50px;
}