.view-all{
   text-align: center;
  
   width: 500px;
   display: block;
   margin: 0 auto;
   margin-bottom: 100px;
}
@media only screen and  (max-width:1305px){
   .view-all{
      width: 300px;
   }
}