.allServices-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 150px;
    
}

@media only screen and  (max-width:1170px){
   .allServices-container{
    grid-template-columns: 1fr 1fr;
   }
}

@media only screen and  (max-width:795px){
   .allServices-container{
    grid-template-columns: 1fr ;
   }
}